<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título dinámico que cada página puede cambiar -->
    <title>{% block titulo %}{% endblock titulo %} - Escuela San Salvador</title>

    <!-- === ENLACE A BOOTSTRAP CSS (LA PARTE CLAVE) === -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        xintegrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Bloque para añadir otros archivos CSS específicos de cada página -->
    {% block extra_css %}{% endblock %}
</head>

<body>

    <!-- Código para que se muestren los mensajes/alertas/toads en cualquier página -->
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
        {% if messages %}
            {% for message in messages %}
                <div class="toast align-items-center text-bg-{{ message.tags }} border-0 show" role="alert"
                    aria-live="assertive" aria-atomic="true" data-bs-delay="3000" data-bs-autohide="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            {{ message }}
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto"
                            data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <main>
        <!-- Aquí se insertará el contenido principal de las otras plantillas -->
        {% block contenido %}
        {% endblock contenido %}
    </main>

    <!-- Enlace a Bootstrap JS (necesario para componentes interactivos) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        xintegrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script>
        
        document.addEventListener('DOMContentLoaded', function () {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'));
            var toastList = toastElList.map(function(toastEl) {
            return new bootstrap.Toast(toastEl);
            });
            toastList.forEach(function(toast) {
            toast.show();
            });
        })
    </script>
    <!-- Bloque para añadir otros archivos JS -->
    {% block extra_js %}{% endblock %}
</body>

</html>